---
http_interactions:
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=<api_key>&t=thor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 31 May 2022 18:13:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Thor","Year":"2011","Rated":"PG-13","Released":"06 May 2011","Runtime":"115
        min","Genre":"Action, Adventure, Fantasy","Director":"Kenneth Branagh","Writer":"Ashley
        Miller, Zack Stentz, Don Payne","Actors":"Chris Hemsworth, Anthony Hopkins,
        Natalie Portman","Plot":"The powerful but arrogant god Thor is cast out of
        Asgard to live amongst humans in Midgard (Earth), where he soon becomes one
        of their finest defenders.","Language":"English","Country":"United States","Awards":"5
        wins & 30 nominations","Poster":"https://m.media-amazon.com/images/M/MV5BOGE4NzU1YTAtNzA3Mi00ZTA2LTg2YmYtMDJmMThiMjlkYjg2XkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.0/10"},{"Source":"Rotten Tomatoes","Value":"77%"},{"Source":"Metacritic","Value":"57/100"}],"Metascore":"57","imdbRating":"7.0","imdbVotes":"819,663","imdbID":"tt0800369","Type":"movie","DVD":"13
        Sep 2011","BoxOffice":"$181,030,624","Production":"N/A","Website":"N/A","Response":"True"}'
  recorded_at: Tue, 31 May 2022 20:44:08 GMT
recorded_with: VCR 6.1.0
